body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    background-image: url('images/headerBG-oxygen.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.oxygen-nav
{
	background-image: url('images/navBG-oxygen.png');

}

.oxygen-nav ul
{
	height: 86px;
	display: inline-block;
	position: relative;
	width: 85%;
	left: 15%;
	list-style-type: none;
	margin: 0px;
	padding: 0;
}

.oxygen-nav li
{
	display: inline-block;
	padding: 0 25px;
	margin: 0;
	height: 100%;
	line-height: 80px;
	position: relative;
	height: 78px;
}



.oxygen-nav li:hover
{
	background-color: #107966;
	transition: all ease 250ms;
}

.oxygen-nav a
{
	text-decoration: none;
	font-size: 26pt;
	font-family: 'Dancing Script', cursive;
	color: #FFF;
	text-shadow: 2px 0 black, 0 -2px black, -2px 0 black, 0 2px black;
	padding: 0;
	margin: 0;
	position: relative;
	z-index: 995;
	height: 100%;
}

.oxygen-nav li::before
{
	content: "";
	display: block;
	background-color: rgba(255,255,255,.3);
	height: 8px;
	width: 0%;
	position: absolute;
	left: 0;
	top: 0;
	transition: all ease 250ms;
}

.oxygen-nav li:hover::before, .oxygen-nav li:hover::after
{
	width: 100%;
}

.oxygen-nav li::after
{
	content: "";
	display: block;
	background-color: rgba(255,255,255,.3);
	height: 8px;
	width: 0%;
	position: absolute;
	left: 0;
	bottom: -8px;
	transition: all ease 250ms;
}
