:root
{
    --dark-blue: hsl(201, 50%, 20%);
    --med-blue: hsl(201, 50%, 40%);
    --lt-blue: hsl(201, 50%, 60%);
    --dark-red: hsl(0, 100%, 26%);
}

*
{
    box-sizing: border-box;    
}

html, body
{
    margin: 0;
    padding: 0;
}

header
{
    height: 90px;
    width: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, .8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background: var(--dark-blue);
}


nav ul
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
    z-index: 9999;
}

nav ul li
{
    padding: 10px 20px;
    cursor: pointer;
}

nav ul li a
{
    color: #fff;
    text-decoration: none;
    font-size: 1.3em;
}

nav ul li a:hover
{
    text-decoration: none;
    color: #fff;
}

.section-1, .section-2, .section-3
{
    padding-top: 90px;
    min-height: 100vh;
    height: auto;
    overflow: auto;

}

.main-block
{
    width: 80%;
    height: 65vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 5% auto;
    position: static;

}

.left-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-basis: 60%;
    height: 100%;
    border-top: 1px solid var(--lt-blue);
    border-left: 1px solid var(--lt-blue);
    border-bottom: 1px solid var(--lt-blue);
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.img-block
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    transition: all 500ms ease-in;
    position: relative;
    background-image: url('img/fender-sale.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.img-block #fenderLearnMore
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15%;
    height: 50px;
    color: #fff;
    content: 'Learn More';
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px 15px;
    background: var(--dark-red);
    opacity: 0;
    cursor: pointer;
    border: solid 2px #fff;
    border-radius: 4px;
}

.img-block::after
{   
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    display: block;
    background: var(--dark-red);
    content: '';
    opacity: 0;
    transition: all 500ms ease;
    padding: 0;

}

.img-block:hover::after
{
    opacity: .8;
    z-index: 1;
}

.img-block:hover #fenderLearnMore
{
    opacity: 1;
    cursor: pointer;
}

.right-block
{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
    border-top: 1px solid var(--dark-blue);
    border-right: 1px solid var(--dark-blue);
    border-bottom: 1px solid var(--dark-blue);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
}

.upper-left, .upper-right
{
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.lower
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50%;
    width: 100%;
}

.section-2-block
{
    height: 100vh;;
    width: 100%;
    background: #222222;
    background-image: url('img/musician-one.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    content: '';
    overflow: hidden;
}

.section-2-block
{
    color: #fff;
}

.quick-bio
{
    width: 30%;
    font-size: .8em;
    padding: 20px;
}

.contact-form
{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

@media only screen and (max-width: 1280px){

    .main-block
    {
        margin: 0;
        width: 100%;
    }

    .left-block, .right-block, .upper-right, .upper-left
    {
        flex-basis: 100%;
    }

    .left-block, .img-block
    {
        width: 100vw;
        height: 60vh;
        background-size: cover;
        border-radius: 0px;
        border: none;
    }

    .left-block h2
    {
        position: absolute;
        top: 100px;
        z-index: 3;
    }

    .right-block
    {
        border: none;
    }

    .img-block
    {
        background-image: url('img/fender-sale-sm.png');
    }

    .img-block::after
    {
        width: 100%;
    }

    .img-block:hover #fenderLearnMore
{
    width: 80%;
}

    #navMenu
    {
        position: absolute;
        z-index: 999;
        display: flex;
        flex-direction: column;
        top: 90px;
        left: 0;
        right: 0;
        width: 100vw;
        max-height: 100vh;
        background: var(--dark-blue);
        overflow: hidden;
    }

    #mobNavBtn
    {
        position: absolute;
        right: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 25px;
        height: 20px;
        cursor: pointer;
    }

    .navBtnBar
    {
        content: '';
        height: 3px;
        width: 25px;
        background: #fff;
    }

    .section-2-block
    {
        height: 100vh;;
        width: 100%;
        background: #222222;
        background-image: url('img/musician-one.png');
        background-position: -160px 20px;
        background-size: cover;
        background-repeat: no-repeat;
        content: '';
    }

    .quick-bio
    {
        font-size: .7em;
        width: 50%;
        background: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0,0,0,.1));
    }
}